@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
#uruguai, #nacional {
    font-family: "M PLUS 1p";
    margin: 0;
    padding: 0;
    display: flex;
   /* justify-content: center;
    align-items: center; */
    height: 100vh;
    background-color: black;
  } 

  #uruguai h1, #nacional h1 {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0;
    font-family: "Lato";
    letter-spacing: 3px;
    position: relative;
    top: 45px;
    left: 150px;

  }

  #portugal h1 {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0;
    font-family: "Lato";
    letter-spacing: 3px;
    position: relative;
    top: 45px;
    left: 150px;
  }

  #vermelho {
    color: #7B0000;
    letter-spacing: 8px;
    font-weight: 900;
    font-family: "Lato";
    font-size: 25px;
  }

  #preto {
    color: #141414;
    letter-spacing: 8px;
    font-weight: 900;
    font-family: "Lato";
    font-size: 25px;
  }

  #portugal {
    font-family: "M PLUS 1p";
    margin: 0;
    padding: 0;
    display: flex;
    /*justify-content: center;
    align-items: center; */
    height: 100vh;
    background-color:#7B0000; 

  } 
  
  .carrossel-container {
    position: relative;
    width: 80%;
    max-width: 1200px;
    overflow: hidden;
    
  }
  
  .carrossel {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .produto {
    min-width: 300px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    top: 300px;
    left: 90;
  }
  
  .produto img {
    width: 100%;
    border-radius: 8px;
  }
  
  .produto p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #7B0000;
    color: white;
    border: none;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
  }
  
  .prev-btn {
    left: 10px;
    z-index: 1;
  }
  
  .next-btn {
    right: 10px;
    z-index: 1;
  }
  